* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 h1 {
     font-family: Times, 'Times New Roman', serif;
 }

 #reg {
     color: whitesmoke;
 }

 .form-container {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: rgb(238, 234, 195);
 }

 .side-panel {
     display: flex;
     background-image: url(../../static/images/bg1.jpg);
     background-size: cover;
 }

 input {
     outline: none;
 }

 .row {
     height: 100vh;
 }

 .register {
     text-decoration: underline;
 }

