<div class="border p-3 mb-3" >
    <h4 class="text-danger">Statistics</h4>
    <hr>
    <div class="border p-3">
            <h3>Total</h3>
            <h4>
                <center>{{total}}</center>
            </h4>
    </div>
    <div class="border p-3" style="word-wrap: break-word;">
        <h3>Uncompleted</h3>
        <h4>
            <center>{{uncompleted}}</center>
        </h4>
    </div>
    <div class="border p-3">
        <h3 style="word-wrap: break-word;">Completed</h3>
        <h4>
            <center>{{completed}}</center>
        </h4>
    </div>

</div>